<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is a simple weather app.
            A user can search for any location in the world and get a detailed, updated weather forecast for that
            location.</p></b>
        <p>The app uses the Mapbox and Darksky APIs.</p>
        <p>It was created by Francisco Costa.</p>
        <img class="portrait" src="./img/relaxed.jpg">
    </div>
    {{>footer}}
</body>

</html>